<a href="https://colab.research.google.com/github/FSMahi/Python/blob/main/Os_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

In [3]:
os.getcwd()

'/content'

In [4]:
os.listdir('.')

['.config', 'sample_data']

In [5]:
os.listdir('/usr')

['games',
 'libx32',
 'libexec',
 'include',
 'lib',
 'lib32',
 'local',
 'sbin',
 'share',
 'bin',
 'lib64',
 'src',
 'colab',
 'grte']

In [9]:
import os

# Create
os.makedirs('data', exist_ok=True)

# Check
print(os.listdir())

['.config', 'my_folder', 'data', 'sample_data']

In [10]:
'data' in os.listdir('.')

True

In [11]:
os.listdir('data')

[]

In [12]:
# Define the data for the loan text files
loan1_data = '''amount, duration, rate, down_payment
100000,36,0.08,20000
200000,12,0.1,25000
628400,120,0.12,100000
4637400,240,0.06,150000
42900,90,0.07,8900
916000,16,0.13,12000
45230,48,0.08,4300
991360,99,0.08,80000
423000,27,0.09,47200
'''

loan2_data = '''amount, duration, rate, down_payment
500000,60,0.05,30000
1000000,72,0.07,40000
1200000,84,0.06,60000
2000000,120,0.08,80000
3000000,180,0.1,120000
1500000,36,0.09,50000
750000,24,0.08,30000
200000,18,0.1,25000
'''

loan3_data = '''amount, duration, rate, down_payment
800000,36,0.07,25000
250000,24,0.06,20000
500000,48,0.05,15000
1000000,120,0.09,40000
700000,72,0.08,30000
1500000,96,0.1,50000
850000,36,0.08,27000
450000,60,0.07,22000
'''

# Create a directory called 'data' to store the files
import os
os.makedirs('data', exist_ok=True)

# Save the data to text files in the 'data' directory
with open('data/loan1.txt', 'w') as f:
    f.write(loan1_data)

with open('data/loan2.txt', 'w') as f:
    f.write(loan2_data)

with open('data/loan3.txt', 'w') as f:
    f.write(loan3_data)

# List files in the 'data' directory to confirm they are saved
!ls data

loan1.txt  loan2.txt  loan3.txt

In [13]:
os.listdir('data')

['loan2.txt', 'loan1.txt', 'loan3.txt']

In [14]:
file1= open('data/loan1.txt', mode= 'r')

In [15]:
file1_content= file1.read()
print(file1_content)

amount, duration, rate, down_payment
100000,36,0.08,20000
200000,12,0.1,25000
628400,120,0.12,100000
4637400,240,0.06,150000
42900,90,0.07,8900
916000,16,0.13,12000
45230,48,0.08,4300
991360,99,0.08,80000
423000,27,0.09,47200

In [16]:
file1.close()

In [17]:
file1.read()

ValueError: I/O operation on closed file.

In [19]:
with open('data/loan2.txt') as file2:
    file2_content= file2.read()
    print(file2_content)

amount, duration, rate, down_payment
500000,60,0.05,30000
1000000,72,0.07,40000
1200000,84,0.06,60000
2000000,120,0.08,80000
3000000,180,0.1,120000
1500000,36,0.09,50000
750000,24,0.08,30000
200000,18,0.1,25000

In [20]:
file2.read()

ValueError: I/O operation on closed file.

In [23]:
with open('data/loan3.txt') as file3:
    file3_lines= file3.readlines()
    print(file3_lines)

['amount, duration, rate, down_payment\n', '800000,36,0.07,25000\n', '250000,24,0.06,20000\n', '500000,48,0.05,15000\n', '1000000,120,0.09,40000\n', '700000,72,0.08,30000\n', '1500000,96,0.1,50000\n', '850000,36,0.08,27000\n', '450000,60,0.07,22000\n']

In [24]:
file3_lines[0].strip()

'amount, duration, rate, down_payment'

##Processing data from files

Before performing any operations on the data stored in a file, we need to convert the contents of the file from one large string into Python data types. For the file loans1.txt containing information about loans in a CSV format, we can do the following:

-Read the file line by line

-Parse the first line to get list of the column names or headers

-Split each remaining line and convert each value into a float

-Create a dictionary for each loan using the headers as keys

-Create a list of dictionaries to keep track of all the loans

Since we will perform the same operations for multiple files, it would be useful define a function read_csv to do this. We'll also define some helper functions to build up the functionality step by step.

Let's start by defining a function parse_header which takes a line as input and returns a list of column headers.

In [25]:
print(file2_content)

amount, duration, rate, down_payment
500000,60,0.05,30000
1000000,72,0.07,40000
1200000,84,0.06,60000
2000000,120,0.08,80000
3000000,180,0.1,120000
1500000,36,0.09,50000
750000,24,0.08,30000
200000,18,0.1,25000

In [26]:
'500000,60,0.05,30000'.split(',')

['500000', '60', '0.05', '30000']

In [27]:
loanl = {

'amount': 100000,

'duration': 36,

'rate': 0.8,

'down payment': 30000

}

In [28]:
def parse_headers(header_line): return header_line.strip().split(',')

In [34]:
with open('data/loan3.txt') as file3:
    file3_lines= file3.readlines()
    print(file3_lines)

['amount, duration, rate, down_payment\n', '800000,36,0.07,25000\n', '250000,24,0.06,20000\n', '500000,48,0.05,15000\n', '1000000,120,0.09,40000\n', '700000,72,0.08,30000\n', '1500000,96,0.1,50000\n', '850000,36,0.08,27000\n', '450000,60,0.07,22000\n']

In [35]:
file3_lines[0]

'amount, duration, rate, down_payment\n'

In [36]:
headers=parse_headers(file3_lines[0])

Next, let's define a function parse_values which takes a line containing some data, and returns a list of floating point

In [37]:
headers

['amount', ' duration', ' rate', ' down_payment']

In [39]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
       values.append(float(item))
    return values

In [42]:
file3_lines[2].strip().split(',')

['250000', '24', '0.06', '20000']

In [40]:
file3_lines [2]

'250000,24,0.06,20000\n'

In [43]:
parse_values(file3_lines[2])

[250000.0, 24.0, 0.06, 20000.0]

This leads to a ValueError because the empty string cannot be converted to a float. We can enhance the parse_values function to handle this edge case.

In [45]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
      if item == ' ':
        values.append(0.0)
      else:
        values.append(float(item))
    return values

In [46]:
file3_content[2]

'250000,24,0.06,20000\n'

In [47]:
parse_values(file3_content[2])

[250000.0, 24.0, 0.06, 20000.0]

Next, let's define a function create_item_dict which takes a list of values and a list of headers as inputs, and returns a dictionary with the values associated with their respective
headers as keys

In [49]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header]= value
    return result

In [51]:
for item in zip([1,2,3], ['a', 'b', 'c']):
 print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [52]:
file3_lines[1]

'800000,36,0.07,25000\n'

In [55]:
values1= parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 800000.0,
 ' duration': 36.0,
 ' rate': 0.07,
 ' down_payment': 25000.0}

In [57]:
file3_lines[2]

'250000,24,0.06,20000\n'

In [58]:
values2= parse_values(file3_lines[2])
create_item_dict(values2, headers)

{'amount': 250000.0,
 ' duration': 24.0,
 ' rate': 0.06,
 ' down_payment': 20000.0}

As expected, the values & header are combined to create a dictionary with the approriate key-value pairs.
We are now ready to put it all together and define the read_csv function.

In [67]:
def read_csv(path):
    result = []
    #Open the file in read mode with open (path, 'r') as f:
    with open(path, 'r') as f:
         #Get a list of lines
         lines = f.readlines()
         #Parse the header
         headers = parse_headers(lines[0])
         #Loop over the remaining lines
         for data_line in lines [1:]:
             #Parse the values
             values = parse_values(data_line)
              #Create a dictionary using values & headers
             item_dict = create_item_dict(values, headers)
           #Add the dictionary to the result
             result.append(item_dict)
    return result

In [69]:
with open('data/loan2.txt') as file2:
    file2_content= file2.read()
    print(file2_content)

amount, duration, rate, down_payment
500000,60,0.05,30000
1000000,72,0.07,40000
1200000,84,0.06,60000
2000000,120,0.08,80000
3000000,180,0.1,120000
1500000,36,0.09,50000
750000,24,0.08,30000
200000,18,0.1,25000

In [71]:
read_csv('data/loan2.txt')

[{'amount': 500000.0,
  ' duration': 60.0,
  ' rate': 0.05,
  ' down_payment': 30000.0},
 {'amount': 1000000.0,
  ' duration': 72.0,
  ' rate': 0.07,
  ' down_payment': 40000.0},
 {'amount': 1200000.0,
  ' duration': 84.0,
  ' rate': 0.06,
  ' down_payment': 60000.0},
 {'amount': 2000000.0,
  ' duration': 120.0,
  ' rate': 0.08,
  ' down_payment': 80000.0},
 {'amount': 3000000.0,
  ' duration': 180.0,
  ' rate': 0.1,
  ' down_payment': 120000.0},
 {'amount': 1500000.0,
  ' duration': 36.0,
  ' rate': 0.09,
  ' down_payment': 50000.0},
 {'amount': 750000.0,
  ' duration': 24.0,
  ' rate': 0.08,
  ' down_payment': 30000.0},
 {'amount': 200000.0,
  ' duration': 18.0,
  ' rate': 0.1,
  ' down_payment': 25000.0}]

In [86]:
def parse_headers (header_line):
     return [header.strip() for header in header_line.strip().split(',')] # strip leading/trailing whitespaces from headers

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
      if item == ' ':
        values.append(0.0)
      else:
        values.append(float(item))
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header]= value
    return result

def read_csv(path):
    result = []
    #Open the file in read mode with open (path, 'r') as f:
    with open(path, 'r') as f:
         #Get a list of lines
         lines = f.readlines()
         #Parse the header
         headers = parse_headers(lines[0])
         #Loop over the remaining lines
         for data_line in lines [1:]:
             #Parse the values
             values = parse_values(data_line)
              #Create a dictionary using values & headers
             item_dict = create_item_dict(values, headers)
           #Add the dictionary to the result
             result.append(item_dict)
    return result

In [87]:
import math
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    Arguments:
      Total amount to be spent (loan down payment)
      duration Duration of the loan (in months)
      rate Rate of interest (monthly)
      down_payment (optional) Optional intial payment
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate* ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [88]:
loan2 = read_csv('data/loan2.txt')

In [89]:
loan2

[{'amount': 500000.0, 'duration': 60.0, 'rate': 0.05, 'down_payment': 30000.0},
 {'amount': 1000000.0,
  'duration': 72.0,
  'rate': 0.07,
  'down_payment': 40000.0},
 {'amount': 1200000.0,
  'duration': 84.0,
  'rate': 0.06,
  'down_payment': 60000.0},
 {'amount': 2000000.0,
  'duration': 120.0,
  'rate': 0.08,
  'down_payment': 80000.0},
 {'amount': 3000000.0,
  'duration': 180.0,
  'rate': 0.1,
  'down_payment': 120000.0},
 {'amount': 1500000.0,
  'duration': 36.0,
  'rate': 0.09,
  'down_payment': 50000.0},
 {'amount': 750000.0, 'duration': 24.0, 'rate': 0.08, 'down_payment': 30000.0},
 {'amount': 200000.0, 'duration': 18.0, 'rate': 0.1, 'down_payment': 25000.0}]

In [90]:
for loan in loan2:
    loan['emi'] = loan_emi(loan ['amount'],
                  loan['duration'],
                  loan['rate']/12,
                  loan ['down_payment'])

In [91]:
loan2

[{'amount': 500000.0,
  'duration': 60.0,
  'rate': 0.05,
  'down_payment': 30000.0,
  'emi': 8870},
 {'amount': 1000000.0,
  'duration': 72.0,
  'rate': 0.07,
  'down_payment': 40000.0,
  'emi': 16368},
 {'amount': 1200000.0,
  'duration': 84.0,
  'rate': 0.06,
  'down_payment': 60000.0,
  'emi': 16654},
 {'amount': 2000000.0,
  'duration': 120.0,
  'rate': 0.08,
  'down_payment': 80000.0,
  'emi': 23295},
 {'amount': 3000000.0,
  'duration': 180.0,
  'rate': 0.1,
  'down_payment': 120000.0,
  'emi': 30949},
 {'amount': 1500000.0,
  'duration': 36.0,
  'rate': 0.09,
  'down_payment': 50000.0,
  'emi': 46110},
 {'amount': 750000.0,
  'duration': 24.0,
  'rate': 0.08,
  'down_payment': 30000.0,
  'emi': 32564},
 {'amount': 200000.0,
  'duration': 18.0,
  'rate': 0.1,
  'down_payment': 25000.0,
  'emi': 10510}]

In [93]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(loan ['amount'],
                  loan['duration'],
                  loan['rate']/12,
                  loan ['down_payment'])

In [94]:
loan2= read_csv('data/loan2.txt')

In [96]:
compute_emis(loan2)

In [97]:
loan2

[{'amount': 500000.0,
  'duration': 60.0,
  'rate': 0.05,
  'down_payment': 30000.0,
  'emi': 8870},
 {'amount': 1000000.0,
  'duration': 72.0,
  'rate': 0.07,
  'down_payment': 40000.0,
  'emi': 16368},
 {'amount': 1200000.0,
  'duration': 84.0,
  'rate': 0.06,
  'down_payment': 60000.0,
  'emi': 16654},
 {'amount': 2000000.0,
  'duration': 120.0,
  'rate': 0.08,
  'down_payment': 80000.0,
  'emi': 23295},
 {'amount': 3000000.0,
  'duration': 180.0,
  'rate': 0.1,
  'down_payment': 120000.0,
  'emi': 30949},
 {'amount': 1500000.0,
  'duration': 36.0,
  'rate': 0.09,
  'down_payment': 50000.0,
  'emi': 46110},
 {'amount': 750000.0,
  'duration': 24.0,
  'rate': 0.08,
  'down_payment': 30000.0,
  'emi': 32564},
 {'amount': 200000.0,
  'duration': 18.0,
  'rate': 0.1,
  'down_payment': 25000.0,
  'emi': 10510}]

In [99]:
with open('data/emis2.txt', 'w') as f:
    for loan in loan2:
       f.write('{},{},{},{},{}\n'.format(
            loan ['amount'],
            loan['duration'],
            loan['rate'],
            loan['down_payment'],
            loan['emi']))

In [100]:
os.listdir('data')

['loan2.txt', 'emis2.txt', 'loan1.txt', 'loan3.txt']

In [102]:
with open('data/emis2.txt', 'r') as f:
    print(f.read())

500000.0,60.0,0.05,30000.0,8870
1000000.0,72.0,0.07,40000.0,16368
1200000.0,84.0,0.06,60000.0,16654
2000000.0,120.0,0.08,80000.0,23295
3000000.0,180.0,0.1,120000.0,30949
1500000.0,36.0,0.09,50000.0,46110
750000.0,24.0,0.08,30000.0,32564
200000.0,18.0,0.1,25000.0,10510

In [103]:
def write_csv(items, path):
    #Open the file in write mode with open (path, 'w') as f:
    with open(path, 'w') as f:
        #Return if there's nothing to write
        if len(items) == 0:
            return
        #Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        #Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [105]:
loan3 = read_csv('data/loan3.txt')

In [106]:
compute_emis(loan3)

In [108]:
write_csv(loan3, 'data/emis3.txt')

In [109]:
with open('data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
800000.0,36.0,0.07,25000.0,23930
250000.0,24.0,0.06,20000.0,10194
500000.0,48.0,0.05,15000.0,11170
1000000.0,120.0,0.09,40000.0,12161
700000.0,72.0,0.08,30000.0,11748
1500000.0,96.0,0.1,50000.0,22003
850000.0,36.0,0.08,27000.0,25790
450000.0,60.0,0.07,22000.0,8475

In [113]:
for i in range(1,4):
   loans =read_csv('data/loan{}.txt'.format(i))
   compute_emis (loans)
   write_csv(loans, 'data/emis{}.txt'.format(i))

In [114]:
os.listdir('data')

['emis1.txt', 'loan2.txt', 'emis2.txt', 'emis3.txt', 'loan1.txt', 'loan3.txt']